---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../Icons/LinkedIn.astro';
import GitHubIcon from '../Icons/GitHub.astro';
import MailIcon from '../Icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../Icons/BriefCase.astro';
import CodeIcon from '../Icons/Code.astro';
import Projects from '../components/Projects.astro';
import WhatsApp from '../Icons/WhatsApp.astro';
---

<Layout title="Porfolio Miguel Murua - Trafficker Digital y Desarrollador Web"
description='Contacta a Miguel Murua para aumentar la visibilidad de tu marca mediante anuncios de pago, generar tráfico hacia una web, obtener leads o concretar ventas.'>
	<main>
        <SectionContainer class="py-4 pb-24 pl-6">
            <img 
                class="Mi_imagen rounded-full size-72 sm:size-64"
                src="../../public/projects/Miguel.Murua.webp"
                alt="Miguel Murua photo"
            />
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row 
            gap-x-4 pb-6 lg:pb-10 text-pretty">
            Hola,Soy Miguel Murua 
            <a
            href="https://wa.me/+5493515722582?text=Hola,%20soy%20Miguel%20Murua,%20envía%20un%20mensaje%20para%20coordinar%20una%20entrevista,%20gracias."
            target="_blank"
            rel="noopener" 
            class="flex justify-center items-center">
            <WhatsApp class="text-[#25d366] mr-2 size-10 sm:size-7 md:size-10 lg:size-10" />
            <Badge>
                Disponible para trabajar
            </Badge>
        </a>
        </h1>
            <h2 class="text-white text-xl lg:text-2xl text-wrap max-w-[700px] opacity-80">+1.5 años de experiencia como Trafficker Digital y Desarrollador Web Frontend Jr. Córdoba, Argentina.</h2>
        
            <nav class="flex gap-7 mt-8 flex-wrap ">
                <SocialPill href="https://www.linkedin.com/in/miguel-angel-murua-93a880252/">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </SocialPill>

                <SocialPill href="https://github.com/MiguelMurua">
                    <GitHubIcon class="size-4 md:size-6" />
                    GitHub
                </SocialPill>

                <SocialPill href="mailto:murua.miguel91@gmail.com">
                    <MailIcon class="size-4 md:size-6" />
                    murua.miguel91@gmail.com
                </SocialPill>
            </nav>
        </SectionContainer>

        <SectionContainer id="experience" class="pl-4">
            <h2 class="text-2xl font-semibold mb-8 text-white flex gap-x-2 items-center">
                <BriefCase class="size-7"/>
                Experiencia Laboral
            </h2>
            <div>
                <p class="text-white text-[18px] font-bold pl-7">
                    Wonderful3D - Call Web Pro S.A.S
            </div>
            <Experience />
        </SectionContainer>

        <SectionContainer id="projects" class="pl-4">
            <h3 class="text-2xl font-semibold mb-8 text-white flex gap-x-2 items-center">
                <CodeIcon class="size-7"/>
                Proyectos
            </h3>
            <Projects />
        </SectionContainer>
    </main>
</Layout>

<style>
    .Mi_imagen{
        mask-image: linear-gradient(to bottom, black 75% , transparent 90%);
    }
</style>