---
---

<span 
    {...Astro.props}
    class="bg-none border border-[white] text-[#25d366] hover:border-[white] hover:text-white hover:bg-[#25d366] transition duration-[500ms] ease-in-out text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
    <slot />
</span>