---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Mayo 2023 - Noviembre 2024',
        title: 'Trafikker Digital - Wonderful3D',
        description: 'Responsabilidades principales: Gestión del portfolio comercial de la empresa, incluyendo la administración y vinculación de cuentas en plataformas de Meta (Facebook, Instagram y cuentas publicitarias). Asignación de roles y permisos en las distintas cuentas, asegurando una estructura organizativa eficiente y segura. Creación, configuración y optimización del píxel de Meta para el seguimiento preciso del tráfico y comportamiento en el sitio web. Desarrollo y optimización de campañas de Meta Ads, maximizando la visibilidad y el rendimiento de las campañas publicitarias de la empresa.',
    },
    {
        date: 'Mayo 2023 - Noviembre 2024',
        title: 'Desarrollo Web - Wonderful3D',
        description: 'Responsabilidades principales: Realización de tareas de mantenimiento en el sitio web de Wonderful3D, utilizando WordPress. Creación y optimización de landing pages orientadas a la promoción de servicios y productos de la empresa. Actualización de contenido relevante, incluyendo textos, imágenes y videos para asegurar la precisión y relevancia de la información. Desarrollo e integración de funcionalidades como carruseles, formularios de contacto y plugins para métodos de pago, mejorando la interacción y experiencia de usuario en el sitio web. ',
        link: 'https://wonderful-3d.com/',
    },
    {
        date: 'Mayo 2023 - Noviembre 2024',
        title: 'Desarrollo Web - CentroMundialDeLaFe',
        description: 'Responsabilidades principales: Diseñé y desarrollé una landing page en WordPress, cumpliendo con las especificaciones requeridas por el cliente. Implementé un banner en el encabezado con el logotipo representativo de la institución y configuré una barra de navegación para facilitar el acceso a las distintas secciones del sitio. Una vez creadas todas las secciones, integré el formulario de contacto utilizando Zapier y Google Sheets, asegurando una gestión eficiente de los datos recopilados.',
        link: 'https://centromundialdelafe.com.ar/',
    },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">    
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }              
    
</ol>

