---
---



<footer class="w-full mt-24 rounded-lg shadow m-4 dark:bg-gray-800">
    <div>
      <span class="text-sm text-[white] sm:text-center flex justify-center p-4">© 2024<a href="https://flowbite.com/" class="hover:underline">
        Miguel Angel Murua</a>
    </span>
    </div>
</footer>
