---
import Html from "../Icons/Html.astro";
import Css3 from "../Icons/Css3.astro";
import Iconastro from "../Icons/Iconastro.astro";
import JavaS from "../Icons/JavaS.astro";
import TailwindIcon from "../Icons/Tailw.astro";
import WordPressIcon from "../Icons/Wordpress.astro";
import GitIcon from "../Icons/Git.astro";
import GitHubIcon from "../Icons/Ghub.astro";
import ElementorIcon from "../Icons/Elementor.astro";
import ZapierIcon from "../Icons/Zapier.astro";
import CanvaIcon from "../Icons/Canva.astro";
import ManyChatIcon from "../Icons/Manychat.astro";
import MetaIcon from "../Icons/Meta.astro";

---

<div class="w-full flex flex-col justify-center items-center">
    <h4 id="skills" class="text-2xl font-semibold mb-8 text-white">
        Habilidades
    </h4>
    <div class="flex justify-evenly w-full p-6 rounded-[5px] border-[1px] bg-[#12161fb9] border-[#84d8ffd2] lg:w-[740px] text-[#ffffff]">
        <ul class="flex flex-col items-center gap-4 text-center">
            <li>
                <Html />
                Html5
            </li>
            <li>
                <TailwindIcon />
                Tailwind
            </li>
            <li>
                <GitIcon  />
                Git
            </li>
            <li>
                <ZapierIcon />
                Zapier
            </li>
        </ul>
        <ul class="flex flex-col items-center gap-4 text-center">
            <li>
                <Css3 />
                CSS3
            </li>
            <li>
                <WordPressIcon />
                WordPress
            </li>
            <li>
                <GitHubIcon />
                GitHub
            </li>
            <li>
                <ManyChatIcon />
                ManyChat
            </li>
        </ul>
        <ul class="flex flex-col items-center gap-4 text-center">
            <li>
                <Iconastro />
                Astro
            </li>
            <li>
                <ElementorIcon />
                Elementor
            </li>
            <li>
                <MetaIcon />
                Meta
            </li>
            <li>
                <CanvaIcon />
                Canva
            </li>
        </ul>
    </div>
</div>

<style>
    li{
        font-size: 12px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
</style>