
<a class="social-pill rounded-full border border-white/10 flex justify-center
items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs lg:text-base text-white bg-white/5 hover:scale-110 hover:bg-white/10 transition " 
{...Astro.props}
target="_blank"
rel="noopener noreferrer"
>
    <slot />
</a>

<style>

/* Estilos generales para el efecto */
@property --d {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.social-pill {
    /* Mantén los estilos de tu botón */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; /* Puedes ajustar según tu diseño */
    font-size: 1rem; /* Ajusta según el tamaño de fuente que desees */
    color: #fff;
    background: none;
    border: none;
    border-radius: 20px;
    position: relative;
    z-index: 10;
    transition: 0.3s;
    cursor: pointer;
}

.social-pill:before {
    content: "";
    position: absolute;
    inset: -7px;
    padding: 2px;
    z-index: -10;
    border-radius: 28px;
    background: conic-gradient(
        from var(--d, 0deg),
        #21d4fd,
        #0000 30deg 120deg,
        #b721ff 150deg 180deg,
        #0000 210deg 300deg,
        #21d4fd 330deg
    );
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
}



.social-pill:before,
.social-pill:after {
    transition: 0.5s, 99999s 99999s transform, 99999s 99999s --d;
}

.social-pill:hover {
    box-shadow: 0 0 0 1px #666;
}

.social-pill:hover:after {
    transform: rotate(3600deg);
    transition: 0.5s, 60s linear transform;
}

.social-pill:hover:before {
    --d: 3600deg;
    transition: 0.5s, 60s linear --d;
}

</style>